SERVER_ADDRESS=:8080
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=go_coin_hunter
POSTGRES_SSL_MODE=disable
BACKGROUND_JOBS_ENABLED=true
DISCOVERY_WINDOW_HOURS=72
DISCOVERY_EXCLUDED_COIN_SYMBOLS=BTC,ETH,BNB,SOL,XRP,USDT,USDC,FDUSD,DAI,TUSD,USDE
